@{
    ViewData["Title"] = "StudentConnect";
}

<script>
    //var myApp = myApp || {};  
    //myApp.Urls = myApp.Urls || {};
    //myApp.Urls.baseUrl = '@Url.Content("~")';
    //myApp.Urls.jobIndexUrl= '@Url.Action("AddStudent","Home")';
</script>

<div id="react-app" class="o-application">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
